.container {
    display: flex;
    justify-content: space-between;
    padding: 100px 20px 100px 20px;
}

.glove {
    width: 25vw;
    height: 25vh;
}

.palmZone {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}

#red {
    fill: red;
    stroke: black;
}

#maroon {
    fill: maroon;
    stroke: black;
}

#royalblue {
    fill: royalblue;
    stroke: black;
}

#navy {
    fill: navy;
    stroke: black;
}

#deepskyblue {
    fill: deepskyblue;
    stroke: black;
}

#green {
    fill: green;
    stroke: black;
}

#darkgreen {
    fill: darkgreen;
    stroke: black;
}

#orange {
    fill: orange;
    stroke: black;
}

#purple {
    fill: purple;
    stroke: black;
}

#pink {
    fill: pink;
    stroke: black;
}

#gold {
    fill: gold;
    stroke: black;
}

#blanchedalmond {
    fill: blanchedalmond;
    stroke: black;
}

#saddlebrown {
    fill: saddlebrown;
    stroke: black;
}

#black {
    fill: black;
    stroke: black;
}

#ghostwhite {
    fill: ghostwhite;
    stroke: black;
}

#dimgray {
    fill: dimgray;
    stroke: black;
}